div {
    margin: 1rem;
    padding: 1rem;
    border: 1px;
    border-radius: 5px;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.5rem 0;
}

a {
    color: blue;
    text-decoration: none;
}